body {
	margin: 0px;
	padding: 0px;
	position: relative;
	background-color: #c3e6f6;
}

body #canvas_wrapper {
	width: 100%;
	height: 100%;
	position: fixed;
}

canvas {
	margin: 0px;
	width: 100%;
	height: 100%;
}